/* TABLET ke LAPTOP */
@media (min-width: 425px) {
  /* program */
  .program .contoh .gambar,
  .program .contoh video,
  .project .contoh video {
    width: 70vw;
    height: calc(0.5625 * 70vw);
  }
  /* footer */
  .footer .links a {
    margin: 0 10px;
  }
}
@media (min-width: 500px) {
  /* program */
  .program .contoh .gambar,
  .program .contoh video,
  .project .contoh video {
    width: 60vw;
    height: calc(0.5625 * 60vw);
  }
}
@media (min-width: 700px) {
  /* program */
  .program .contoh .gambar,
  .program .contoh video,
  .project .contoh video {
    width: 40vw;
    height: calc(0.5625 * 40vw);
  }
  .program .contoh {
    width: 90vw;
    display: flex;
  }
  /* project */
  .project .kategori {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .project .kategori .class {
    width: 45vw;
  }
  /* footer */
  .footer .links a {
    margin: 0 15px;
  }
}
@media (min-width: 850px) {
  /* navbar */
  .menu-nav .navbar-brand img {
    width: 180px;
    margin-left: 30px;
  }
  .menu-nav .nav-link {
    font-size: 20px;
    margin-left: 50px;
  }
  .menu-nav ul {
    margin-right: 30px;
  }
  /* jumbotron */
  .banner .teks h1 {
    font-size: 40px;
    margin-bottom: 25px;
  }
  .banner .teks p,
  .banner .teks a {
    font-size: 20px;
    margin-bottom: 25px;
  }
  .banner .teks .btn {
    font-size: 22px;
  }
  .banner .teks {
    margin: 0px 30px;
  }
  /* bag 2,3,4,5 */
  .bag2 p {
    font-size: 20px;
  }
  .bag3 h4,
  .bag4 h4 {
    font-size: 30px;
  }
  .bag3 .accordion-button {
    font-size: 20px;
  }
  .bag3 .accordion-body {
    font-size: 18px;
  }
  .bag4 .item {
    font-size: 18px;
    width: 200px;
    height: 150px;
    margin: 10px;
  }
  .bag4 .item img {
    width: 85px;
  }
  .alert {
    font-size: 20px;
  }
  .bag5 h4 {
    font-size: 35px;
    width: 140px;
    height: 140px;
    padding-top: 15px;
  }
  .bag5 .item p {
    font-size: 18px;
  }
  /* program */
  .program h4 {
    font-size: 30px;
  }
  .program label,
  .program .ket,
  .program button {
    font-size: 18px;
  }
  .program .carousel-indicators button {
    font-size: 16px;
  }
  .program .judul {
    font-size: 20px;
  }
  /* student project */
  .project h4 {
    font-size: 30px;
  }
  .project .contoh {
    font-size: 18px;
  }
  .project .contoh .nama {
    font-size: 19px;
  }
  .project h5 {
    font-size: 21px;
  }
  /* testimoni */
  .testi h4 {
    font-size: 30px;
  }
  .testiBox p {
    font-size: 18px;
  }
  .testiBox .detail h3 {
    font-size: 18px;
  }
  .testiBox .detail span {
    font-size: 16px;
  }
  /* faq */
  .faq h4 {
    font-size: 30px;
  }
  .faq .accordion-button {
    font-size: 20px;
  }
  .faq .accordion-body {
    font-size: 18px;
  }
  /* footer */
  .footer .links a {
    font-size: 16px;
  }
  .footer .credit,
  .footer .credit a {
    font-size: 15px;
  }
}
@media (min-width: 1000px) {
  /* bag 3 */
  .bag3 {
    width: 80vw;
    margin: auto !important;
    margin-top: 3rem !important;
  }
  /* program */
  .program .contoh .gambar,
  .program .contoh video,
  .project .contoh video {
    width: 30vw;
    height: calc(0.5625 * 30vw);
  }
  .program .ket,
  .program .contoh {
    width: 80vw;
  }
  /* footer */
  .footer .links a {
    margin: 0 20px;
  }
}
@media (min-width: 1440px) {
  /* program */
  .program .contoh .gambar,
  .program .contoh video,
  .project .contoh video {
    width: 25vw;
    height: calc(0.5625 * 25vw);
  }
  .program .ket {
    width: 40vw;
    height: calc(0.5625 * 30vw);
    overflow-y: scroll;
    padding-left: 20px;
  }
  .program .contoh {
    width: 60vw;
  }
  .program .detail {
    display: flex;
    align-items: flex-start;
  }
  /* project */
  .project .kategori .class {
    width: 30vw;
  }
}
/* LAPTOP BESAR */
@media (min-width: 1700px) {
  /* navbar */
  .menu-nav .navbar-brand img {
    width: 200px;
  }
  .menu-nav .nav-link {
    font-size: 23px;
  }
  /* jumbotron */
  .banner .teks {
    width: 70vw;
  }
  .banner .teks h1 {
    font-size: 55px;
  }
  .banner .teks p,
  .banner .teks a {
    font-size: 25px;
  }
  .banner .teks .btn {
    font-size: 27px;
  }
  /* bag 2,3,4,5 */
  .bag2 p {
    font-size: 23px;
  }
  .bag3 h4,
  .bag4 h4 {
    font-size: 35px;
  }
  .bag3 .accordion-button {
    font-size: 25px;
  }
  .bag3 .accordion-body {
    font-size: 23px;
  }
  .alert {
    font-size: 23px;
  }
  .bag3 {
    width: 70vw;
  }
  .bag4 .item {
    font-size: 23px;
    width: 200px;
    height: 150px;
    margin: 10px;
  }
  .bag4 .item img {
    width: 100px;
  }
  .bag4 .teks {
    margin-bottom: 50px;
  }
  .bag5 h4 {
    font-size: 38px;
  }
  .bag5 .item p {
    font-size: 23px;
  }
  .bag5 .item {
    width: 400px;
  }
  .bag5 .teks img {
    width: 80px;
    height: 80px;
  }
  .bag5 .item p {
    margin-left: 70px;
  }
  /* program */
  .program h4 {
    font-size: 35px;
  }
  .program label,
  .program .ket,
  .program button {
    font-size: 23px;
  }
  .program .carousel-indicators button {
    font-size: 20px;
  }
  .program .judul {
    font-size: 25px;
  }
  /* student project */
  .project h4 {
    font-size: 35px;
  }
  .project .contoh {
    font-size: 23px;
  }
  .project .contoh .nama {
    font-size: 24px;
  }
  .project h5 {
    font-size: 26px;
  }
  /* testimoni */
  .testi h4 {
    font-size: 35px;
  }
  .testiBox p {
    font-size: 23px;
  }
  .testiBox .detail h3 {
    font-size: 23px;
  }
  .testiBox .detail span {
    font-size: 19px;
  }
  swiper-slide {
    width: 400px;
  }
  /* faq */
  .faq h4 {
    font-size: 35px;
  }
  .faq .accordion-button {
    font-size: 25px;
  }
  .faq .accordion-body {
    font-size: 23px;
  }
  /* footer */
  .footer .links a {
    font-size: 21px;
  }
  .footer .credit,
  .footer .credit a {
    font-size: 20px;
  }
}
