@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* kuning (251,201,37) #fbc925 */
/* biru tua (0,150,166) #0096a6 */
/* biru muda (8,180,206) #08b4ce */
/* lebar layar komputer 1920 */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* MOBILE */
/* navbar */
.menu-nav {
  background-color: #08b4ce;
}
.menu-nav .navbar-toggler {
  background: linear-gradient(to right bottom, white 30%, #fbc925);
  padding: 2px 5px;
}
.menu-nav .navbar-toggler:active {
  box-shadow: 1px 1px 1px white;
  border: none;
  transform: scale(0.9);
}
.menu-nav .nav-link {
  color: white;
  font-size: 15px;
  font-weight: 600;
}
.menu-nav .nav-link:hover {
  color: #fbc925;
  text-shadow: 1px 1px 1px black;
}
/* jumbotron */
.banner {
  background: url(img/kids.jpg);
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner::before {
  content: "";
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: absolute;
  opacity: 0.25;
}
.banner .teks {
  z-index: 999;
  color: white;
  text-shadow: 1px 1px 1px black;
}
.banner .teks h1 {
  font-weight: 800;
  font-size: 30px;
  letter-spacing: 2px;
}
.banner .teks p {
  font-weight: 600;
  letter-spacing: 1px;
}
.banner .teks p a {
  color: white;
  font-style: italic;
  text-shadow: 1px 1px 1px black;
}
.banner .teks p a:hover {
  color: #fbc925;
}
.banner .teks .btn {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px white;
}
/* bag 2 */
.bag2 {
  border: none;
  background: linear-gradient(to right bottom, white 40%, #08b4ce);
  box-shadow: 0px 0px 10px darkblue;
  font-weight: 600;
}
.bag2 .card-body {
  padding: 0;
  padding-top: 5px;
}
/* bag 3 */
.bag3 .accordion-button {
  font-size: 16px;
  color: white;
  font-weight: 600;
  padding: 10px 15px;
  background-color: #08b4ce;
}
.bag3 .accordion-button:focus {
  border-color: none;
  box-shadow: none;
}
.bag3 .accordion-body {
  font-size: 15px;
  padding: 5px;
}
.bag3 .accordion-item {
  margin-bottom: 10px;
}
.bag3 h4 {
  text-shadow: 1px 1px 1px #0096a6;
}
/* bag 4 */
.bag4 {
  background: linear-gradient(white, #08b4ce8f, white);
  padding: 30px 0px;
}
.bag4 h4 {
  text-shadow: 1px 1px 1px #0096a6;
}
.bag4 .item {
  font-size: 15px;
  width: 120px;
  height: 160px;
  font-weight: 500;
  margin: 5px;
}
.bag4 .item img {
  border-radius: 50%;
  width: 70px;
  background-color: white;
  margin-bottom: 10px;
}
/* bag 5 */
.alert {
  background: linear-gradient(#fbc925, white);
  color: black;
  font-weight: 600;
  font-size: 16px;
  box-shadow: 0px 0px 10px orangered;
}
.bag5 h4 {
  font-size: 30px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding-top: 5px;
  text-align: center;
  line-height: 60px;
  text-shadow: 1px 1px 1px #0096a6;
  background: linear-gradient(#08b4ce54, white);
  margin: auto;
  box-shadow: 2px 2px 2px #08b4ce;
}
.bag5 .teks img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  margin-top: -15px;
  margin-left: -15px;
}
.bag5 .item {
  width: 300px;
  display: flex;
  margin: 15px;
  border-radius: 10px;
  background: linear-gradient(to right, #08b4ce 10%, white);
}
.bag5 .item p {
  margin-left: 40px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 15px;
}
/* program */
.program {
  background: linear-gradient(#fbc9252a, white);
  border-radius: 30px;
}
.program h4 {
  text-shadow: 1px 1px 1px #0096a6;
}
.program label,
.program button {
  font-size: 15px;
}
.program .btn {
  border-radius: 0;
  font-weight: 500;
}
.program .btn:hover {
  background-color: #0d6efd;
  color: white;
}
.program .judul {
  font-size: 16px;
  border-bottom: 2px solid black;
  padding: 15px;
}
.program .judul span {
  font-weight: 700;
  width: fit-content;
  background-color: #08b4ce;
  box-shadow: 1px 1px 2px darkgrey;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 5px;
}
.program .carousel-indicators [data-bs-target] {
  background-color: #0d6efd;
  height: fit-content;
  width: fit-content;
  text-indent: 0;
  transition: none;
  padding: 3px 10px;
  color: white;
  border: none;
  margin-bottom: 8px;
}
.program .carousel-indicators {
  z-index: 0;
  position: static;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  margin: auto;
}
.program .carousel-indicators button {
  font-size: 13px;
}
.program .carousel-item {
  transition: none;
}
.program .modal-body img {
  width: 100%;
}
.program .ket {
  font-size: 15px;
  padding: 0 5px;
}
.program .ket,
.program .contoh {
  width: 90vw;
  margin: auto;
}
.program .contoh .gambar,
.program .contoh video {
  width: 80vw;
  height: calc(0.5625 * 80vw);
}
.program .contoh video {
  border: 2px solid white;
}
.program .contoh img {
  width: 100%;
  height: 100%;
  border: 2px solid #08b4ce;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#08b4ce, #08b4ce3f);
  border-radius: 5px;
}
/* student project */
.project h4 {
  text-shadow: 1px 1px 1px #0096a6;
}
.project {
  background: linear-gradient(white, #fbc9252a);
  border-radius: 30px;
  padding-bottom: 25px;
}
.project .contoh {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-size: 15px;
}
.project h5 {
  font-size: 18px;
  color: #08b4ce;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  padding-top: 5px;
}
.project .contoh .nama {
  font-size: 16px;
}
.project .contoh video {
  width: 80vw;
  height: calc(0.5625 * 80vw);
}
.project .carousel-control-next {
  right: -20px;
  top: -100px;
}
.project .carousel-control-prev {
  left: -20px;
  top: -100px;
}
/* testimoni */
swiper-container {
  width: 100%;
  padding-bottom: 30px;
}
swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  border-radius: 10px;
  filter: blur(4px);
  background-color: #d1ebff;
}
swiper-slide img {
  display: block;
  width: 100%;
}
.testi h4 {
  text-shadow: 1px 1px 1px #0096a6;
}
.swiper-slide-active {
  filter: blur(0);
  background-color: rgb(229, 248, 255);
}
.testiBox {
  position: relative;
  width: 100%;
  padding: 40px;
}
.testiBox p {
  text-align: center;
  font-size: 15px;
}
.testiBox .detail {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.testiBox .detail h3 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.1em;
  color: #2196f3;
  margin-left: 20px;
}
.testiBox .detail span {
  font-size: 13px;
  color: black;
  font-weight: 500;
}
.testiBox .imgBox {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}
.testiBox .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* faq */
.faq h4 {
  text-shadow: 1px 1px 1px #0096a6;
}
.faq .accordion-button {
  font-size: 16px;
  color: black;
  font-weight: 600;
  padding: 10px 15px;
  background-color: aliceblue;
}
.faq .accordion-button:focus {
  border-color: none;
  box-shadow: none;
}
.faq .accordion-button:not(.collapsed) {
  background-color: #08b4ceb0;
}
.faq .accordion-body {
  font-size: 15px;
  background-color: rgb(229, 248, 255);
  padding: 5px;
}
/* footer */
.footer {
  background-color: #08b4ce;
}
.footer .socials svg {
  margin: 5px 10px;
}
.footer .socials svg:hover {
  fill: black;
}
.footer .links a {
  font-size: 13px;
  color: white;
  text-decoration: none;
  margin: 0 2px;
}
.footer .links a:hover {
  color: black;
}
.footer .credit {
  font-size: 12px;
}
.footer .credit a {
  font-size: 12px;
  color: white;
  text-decoration: none;
}
/* floating sosmed */
.medsos {
  position: fixed;
  left: 1rem;
  bottom: 1.5rem;
  z-index: 1000;
}
.medsos a {
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  margin-top: 1rem;
}
.medsos a .btn-floating-wa,
.medsos a .btn-floating-ig {
  padding: 0.5rem;
  border: 0;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}
.medsos a span {
  display: none;
  flex-direction: row;
}
.medsos a:hover span {
  display: inline-block;
  padding: 0 0.8rem;
  line-height: 1.35rem;
}
.medsos a:hover .btn-floating-wa {
  background: linear-gradient(to right, #075e54, #25d366);
}
.medsos a:hover .btn-floating-ig {
  background: linear-gradient(to right, #833ab4, #c13584);
}
